*{
    margin: 0;
    padding: 0;
    box-sizing: border;
}

body {
    
}



.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.navbar{
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 60px;
}

.nav a{
    text-decoration: none;
    color: black;
    
}
.nav{
    display: flex;
    gap: 30px;
    
}
.navbar button{
    background-color: #30B868;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;

}
 .navbar button:hover{
    background-color: chocolate;
 }


/* Banner */
.banner{
    text-align: center;
    padding: 50px 80px;
    background-image: url(hero-bg.png);
   
}

.badge{
    color: #30B868;
    background-color:white;
    border-radius: 1000px;
    padding: 8px 20px;
}

.banner h1 span{
    color: #30B868;
}

.banner{
    color: white;
}

.banner h1{
    font-size: 3em;
    color: white;
}
.btn-primary{
    background-color: #30B868;
    color: white;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-outline{
    border:1px solid white;
    padding: 10px 25px;
    background: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: chocolate;
}

.btn-outline:hover{
    background-color: #30B868;
}
