*{
    margin: 0;
    padding: 0;
    box-sizing: border;
}

body {
    
}



.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.navbar{
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 60px;
}

.nav a{
    text-decoration: none;
    color: black;
    
}
.nav{
    display: flex;
    gap: 30px;
    
}
.navbar button{
    background-color: #30B868;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;

}
 .navbar button:hover{
    background-color: chocolate;
 }


/* Banner */
.banner{
    text-align: center;
    padding: 50px 80px;
    background-image: url(hero-bg.png);
   
}

.badge{
    color: #30B868;
    background-color:white;
    border-radius: 1000px;
    padding: 8px 20px;
}

.banner h1 span{
    color: #30B868;
}

.banner{
    color: white;
}

.banner h1{
    font-size: 3em;
    color: white;
}
.btn-primary{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #30B868;
    color: white;
    padding: 10px 25px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-outline{
    border:1px solid white;
    padding: 10px 25px;
    background: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover{
    background-color: chocolate;
}

.btn-outline:hover{
    background-color: #30B868;
}

/* Problems */
.problems{
    text-align: center;
    padding: 30px 60px;
}

.problems h2{
    font-size: 48px;
    font-weight: bold;
}

.subtitle{
    color: #627382;
    font-size: 16px;
}
.card{
    width: 300px;
    border: 2px solid gray;
    border-radius: 10px;
    background-color:white;
  padding: 10px;

}
.card img{
    background-color: #F95555;
    border-radius: 100px;
    padding: 10px;

}

.problems-grid{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.card p{
    color: #627382;
    
}


/* solutions */
.solutions{
   display: flex;
   align-items: center;
   gap: 40px;
   padding: 20px 60px;
   
}

.sltn{
    color: #30B868;
}
.gray{
    color: #627382;
}

.solutions li{
    list-style: none;
}
.picture img{
   max-width: 100%;
   height: auto;
}

/* challenge */

.challenge{
text-align: center;
}

.challenge h3{
    font-size: 40px;
    font-weight: 700px;
}

.challenge p{
    color: #627382;
}

.challenge button{
    background-color: #30B868;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: white;
}

.challenge button:hover{
background-color: aqua;
}

.btn-cha {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  
}

/* footer */
footer{
    background-color: #001931;
}
.footer{
    /* background-color: #001931; */
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-logo{
    width: 100%;
    height: auto;
    padding: 20px 60px;
}
footer p{
    color: white;
    text-align: center;
} 

.footer h5{
    color: white;
    font-size: 20px;
    font-weight: 500px
    
}
.icons{
  height: 40px;
    display: flex;
    gap: 10px;
    
}
.icons img{
    border-radius: 8px;
}